.dark
	background-color: #2b2b2b
	color: white
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	.button
		background-color: whitesmoke
		color: $dark
		border-radius: 4px
		margin-bottom: $s

