.insta
	font-size: 14px

	.description, .thumbnail
		margin-bottom: $s
	.thumbnail img
		max-width: 82px
		height: auto
	.button
		border: 1px solid $light_gray
		border-radius: 6px
		color: $dark
		padding: $xxs
		margin-bottom: $s
		font-weight: 600

		&:hover
			background-color: $gray