.biolinks
	margin-left: auto
	margin-right: auto
	max-width: 400px
	padding: 5vh $m $m


.description, .thumbnail
	margin-bottom: $m
	text-align: center

.thumbnail img
	border-radius: 50%
	display: block
	margin-left: auto
	margin-right: auto

.button
	display: block
	margin-bottom: $xs
	padding: $xs $xxs
	text-align: center
	transition: background-color .38s ease, color .38s ease
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
